@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

:root {
	background: #212121;
	box-sizing: border-box;
	height: auto;
	line-height: 1em;
	padding: 40px;
}

body {
	background-color: initial;
	border: 1px solid #424242;
	border-radius: 8px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: auto;
	margin: 0 auto;
	padding: 40px;
	width: auto;
}

.dynmaplogin h2,
.dynmaplogin table th {
	font-family: "Open Sans", "Noto Sans Myanmar UI", Arial, sans-serif;
	font-weight: normal;
}

.dynmaplogin h2 {
	font-family: "Open Sans", "Noto Sans Myanmar UI", Arial, sans-serif;
	font-size: 24px;
}

.dynmaplogin table th {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.dynmaplogin,
.dynmaplogin table,
.dynmaplogin tr,
.dynmaplogin td,
.dynmaplogin select,
.dynmaplogin textarea,
.dynmaplogin button {
	background-color: initial;
	border: none;
	color: inherit;
	font-family: inherit;
	font-weight: normal;
}

.dynmaplogin table table {
	margin: auto;
	width: 100%;
}

.dynmaplogin table table th {
	font-size: 16px;
}

.dynmaplogin table table tr td:nth-child(2) {
	width: 100%;
}

.dynmaplogin table table tr td:nth-last-child(2) {
	left: 0;
	line-height: 1.5em;
	padding: 10px;
	text-align: left;
	white-space: nowrap;
}

.dynmaplogin table p:first-child {
	margin: 1em;
}

.dynmaplogin table p:last-child,
.dynmaplogin table p:empty,
.dynmaplogin table p br {
	display: none;
}

.dynmaplogin table table input {
	background-color: transparent;
	border: 1px solid #424242;
	border-radius: 4px;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-weight: normal;
	padding: 10px;
	width: 100%;
	z-index: -1;
}

.dynmaplogin table table input:not(:placeholder-shown) {
	background-color: #212121;
}

.dynmaplogin input[type="submit"] {
	background-color: #d32f2f;
	border: none;
	border-end-end-radius: 4px;
	border-end-start-radius: 4px;
	border-radius: 4px;
	border-start-end-radius: 4px;
	border-start-start-radius: 4px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: "Open Sans", Roboto, Arial, sans-serif;
	font-weight: bold;
	height: 36px;
	line-height: 1.5em;
	padding: 8px 16px;
	position: relative;
	text-align: center;
	user-select: none;
	vertical-align: middle;
}

.dynmaplogin input[type="submit"]:hover,
.dynmaplogin input[type="submit"]:active {
	background-color: #c62828;
	transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
