@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://unpkg.com/material-dynmap@0.2.2/src/mdi.css");

:root {
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
}

body {
	font-family: inherit;
	font-size: inherit;
}

.dynmap {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
}

.dynmap .leaflet-control-container .leaflet-bar {
	border: none;
	border-radius: 5px;
}

.dynmap .leaflet-control-container .leaflet-control-layers {
	background-color: #212121;
	border: none;
	box-sizing: border-box;
	color: #e0e0e0;
}

.dynmap .leaflet-control-container .leaflet-control-layers-expanded {
	padding: 10px 10px 15px 10px;
}

.dynmap .leaflet-control-container .leaflet-control-layers .leaflet-control-layers-toggle {
	border-radius: 5px;
	width: 32px;
}

.dynmap .leaflet-control-container .leaflet-control-layers .leaflet-control-layers-toggle:before,
.dynmap .leaflet-control-container .leaflet-control-layers-selector:before,
.dynmap .leaflet-control-container .leaflet-control-zoom a:before {
	direction: ltr;
	display: inline-flex;
	font-family: "Material Design Icons", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 16px;
	letter-spacing: normal;
	line-height: 1em;
	margin: 0 8px;
	text-transform: none;
	white-space: nowrap;
	width: 16px;
	word-wrap: normal;
}

.dynmap .leaflet-control-container .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	width: 100%;
}

.dynmap .leaflet-control-container .leaflet-control-layers-expanded .leaflet-control-layers-toggle:before {
	margin: 0 8px;
}

.dynmap .leaflet-control-container .leaflet-control-layers-expanded .leaflet-control-layers-toggle:after {
	content: attr(title);
	font-size: 1rem !important;
}

.dynmap .leaflet-control-container .leaflet-control-layers label {
	padding: 2px 5px;
}

.dynmap .leaflet-control-container .leaflet-control-layers label span {
	display: inline-flex;
}

.dynmap .leaflet-control-container .leaflet-control-layers-selector {
	appearance: initial;
	color: inherit;
	margin: 0 0 0 -5px;
}

.dynmap .leaflet-control-container .leaflet-control-layers-selector:before {
	content: "\F012E";
	cursor: pointer;
}

.dynmap .leaflet-control-container .leaflet-control-layers-selector:checked:before {
	content: "\F0132";
}

.dynmap .leaflet-control-container .leaflet-control-layers .leaflet-control-layers-toggle:before {
	content: "\F09FE";
}

.dynmap .leaflet-control-container .leaflet-control-layers .leaflet-control-layers-toggle,
.dynmap .leaflet-control-container .leaflet-control-layers-expanded .leaflet-control-layers-toggle:before {
	background-color: transparent;
}

.dynmap .leaflet-control-container .leaflet-control-zoom a:first-child:before {
	content: "\F0415";
}

.dynmap .leaflet-control-container .leaflet-control-zoom a:last-child:before {
	content: "\F0374";
}

.dynmap .leaflet-control-container .leaflet-chip-container {
	cursor: ew-resize;
	display: flex;
	left: 52px;
	overflow-x: scroll;
	position: absolute;
	right: 102px;
	top: 10px;
	user-select: none;
}

@supports (scrollbar-width: none) {
	.dynmap .leaflet-control-container .leaflet-chip-container {
		scrollbar-width: none;
	}
}

@supports selector(::-webkit-scrollbar) {
	.dynmap .leaflet-control-container .leaflet-chip-container::-webkit-scrollbar {
		display: none;
	}
}

.dynmap .leaflet-control-container .leaflet-chip-container .leaflet-chip {
	background-color: #212121;
	border-radius: 16px;
	box-sizing: border-box;
	cursor: pointer;
	height: 32px;
	line-height: 1em;
	padding: 8px 16px;
}

.dynmap .leaflet-control-container .leaflet-chip-container .leaflet-chip:nth-child(n+1) {
	margin-right: 8px;
}

.dynmap .leaflet-control-container .leaflet-type-container .world {
	bottom: 20px;
	float: left;
	font-size: 0;
	height: 75px;
	left: 288px;
	padding: 2px;
	position: fixed;
	z-index: 120;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .maplist {
	padding: 0;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .item {
	background-color: #212121 !important;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 2s, box-shadow 2s;
}

.dynmap .leaflet-control-container .leaflet-type-container .item,
.dynmap .leaflet-control-container .leaflet-type-container .item.selected,
.dynmap .leaflet-control-container .leaflet-type-container .item:hover {
	border: none;
	margin: 5px 2px;
}

.dynmap .leaflet-control-container .leaflet-type-container .item:hover,
.dynmap .leaflet-control-container .leaflet-type-container .item.selected {
	background-color: #424242 !important;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .item,
.dynmap .leaflet-control-container .leaflet-type-container .world .maptype {
	height: 75px;
	margin: 0;
	width: 75px;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .item:nth-child(n+2) {
	margin: 0 0 0 10px;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .item.surface {
	position: relative;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .item.surface:after {
	border: 5px solid #437c33;
	border-radius: 6px;
	bottom: 2px;
	box-shadow: 0 0 8px 8px #424242;
	content: '';
	display: block;
	left: 2px;
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 121;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .maptype {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	text-indent: initial;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .maptype:before {
	color: #ffffff;
	content: attr(title);
	display: flex;
	font-size: 11px;
	margin: 5px auto;
	text-shadow: #000000cc 0 -5px 10px;
	z-index: 121;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .maptype[title="Flat"] {
	background-image: url("https://raw.githubusercontent.com/SNDST00M/material-dynmap/v0.2.2/assets/world-type.svg") !important;
	background-size: cover;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .maptype[title="Surface"] {
	background-image: url("https://raw.githubusercontent.com/SNDST00M/material-dynmap/v0.2.2/assets/world-type.svg") !important;
	background-size: cover;
	font-size: 5.5px;
	transform: rotateZ(45.5deg) scale(1.42);
}

.dynmap .leaflet-control-container .leaflet-type-container .world .maptype[title="Surface"]:before {
	font-size: inherit;
	text-shadow: #000000 0 0 10px;
	transform: rotateZ(-45.5deg) scale(142%) translateX(21px) translateY(-4.25px);
	transform-origin: bottom right;
}

.dynmap .leaflet-control-container .leaflet-type-container .world .maptype[title="Topography"] {
	background-image: url("https://raw.githubusercontent.com/JLyne/LiveAtlas/master/src/assets/icons/block_nether_flat.svg") !important;
	background-size: cover;
	filter: hue-rotate(180deg) contrast(1.4);
}

.dynmap .leaflet-control-container .dynmap-link .dynmap-link-button {
	bottom: 10px;
	left: initial;
	position: fixed;
	right: 10px;
	z-index: 121;
}

.dynmap .leaflet-control-container .dynmap-link .dynmap-link-button:before {
	content: "\F0337";
	direction: ltr;
	display: inline-flex;
	font-family: "Material Design Icons", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 16px;
	letter-spacing: normal;
	line-height: 1em;
	margin: 0 8px;
	text-transform: none;
	white-space: nowrap;
	width: 16px;
	word-wrap: normal;
}

.dynmap .leaflet-control-container .leaflet-control-zoom a,
.dynmap .leaflet-control-container .dynmap-link .dynmap-link-button {
	width: 32px;
}

.dynmap .leaflet-control-container .leaflet-control-layers .leaflet-control-layers-toggle,
.dynmap .leaflet-control-container .leaflet-control-zoom a,
.dynmap .leaflet-control-container .dynmap-link .dynmap-link-button {
	align-items: center;
	background-color: #212121;
	background-image: none;
	border: none;
	color: #e0e0e0;
	display: flex;
	font-size: 0;
	height: 32px;
	justify-content: flex-start;
	text-decoration: none;
}

.dynmap .leaflet-control-container .logincontainer .loginbutton {
	align-items: center;
	background-color: #212121;
	border: none;
	border-radius: 4px;
	bottom: 10px;
	color: #e0e0e0;
	cursor: pointer;
	display: flex;
	font-size: 11px;
	font-weight: bold;
	height: 32px;
	justify-content: flex-start;
	padding: 8px;
	position: fixed;
	right: 52px;
	z-index: 121;
}

.dynmap .sidebar {
	background-color: #212121;
	border: none;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	flex-wrap: nowrap;
	position: static;
	transition: width 0.2s ease-in-out;
	width: 270px;
}

@media screen and (max-width: 640px) {
	.dynmap .sidebar {
		overflow: hidden;
		width: 0;
	}
}

.dynmap .sidebar legend {
	color: #e0e0e0;
	font-size: 16px;
	padding: 20px 10px 10px 10px;
}

.dynmap .sidebar .section .content {
	min-height: 0;
	padding: 0;
}

.dynmap .sidebar .panel {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.dynmap .sidebar .panel .section {
	border: none;
	padding: 0;
}

.dynmap .panel .subsection {
	display: none;
}

.dynmap .sidebar .panel .section:first-of-type {
	margin: 0;
	padding: 0;
}

.dynmap .sidebar .panel .section:first-of-type legend {
	display: none;
}

.dynmap .sidebar .panel .hitbar,
.dynmap .sidebar .panel .pin,
.dynmap .sidebar .panel .slider {
	display: none;
}

.dynmap .playerlist .player {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	padding: 4px;
}

.dynmap .playerlist .player .playerIcon {
	display: inline-block;
	height: auto;
	margin: 0 0.66em 0 0;
	width: auto;
}

.dynmap .playerlist .player .playerIcon img {
	height: 25px;
	image-rendering: pixelated;
	margin: 2px;
	width: 25px;
}

.dynmap .playerlist .player a {
	line-height: 1em;
}

.dynmap .leaflet-container {
	font-family: inherit;
	font-size: 16px;
}

.dynmap .leaflet-container .coord-control {
	background-color: #212121;
	border: none;
	border-radius: 10px;
	color: #e0e0e0;
	padding: 5px 10px;
	width: auto;
}

.dynmap .leaflet-container .coord-control .coord-control-label {
	font-weight: bold;
}

.dynmap .leaflet-container .coord-control .coord-control-value {
	font-family: Jetbrains Mono, monospace;
	font-weight: normal;
}

.dynmap .panel .section .scrolldown,
.dynmap .panel .section .scrollup,
.dynmap .panel .section .scrolldown:hover,
.dynmap .panel .section .scrollup:hover,
.dynmap .panel .section .scrolldown:active,
.dynmap .panel .section .scrollup:active {
	background-color: transparent;
	border: none;
}

.dynmap .leaflet-container .leaflet-map-pane {
	zoom: calc(1 / var(--material-dynmap-device-pixel-ratio, 1));
}

.dynmap .leaflet-container .leaflet-map-pane .Marker.mapMarker > *,
.dynmap .leaflet-container .leaflet-map-pane .Marker.playerMarker > *,
.dynmap .leaflet-container .leaflet-popup-pane > .leaflet-popup {
	zoom: var(--material-dynmap-device-pixel-ratio, 1);
}

.dynmap .leaflet-tile-pane .leaflet-tile {
	filter: brightness(1.25) contrast(1.05) hue-rotate(5deg) saturate(1.1);
	image-rendering: pixelated;
	outline: 1px solid transparent;
}

.dynmap .leaflet-marker-pane .mapMarker .markerIcon16x16 {
	border-radius: 4px;
	height: 32px;
	image-rendering: pixelated;
	position: relative;
	right: 8px;
	top: 8px;
	width: 32px;
}

.dynmap .leaflet-marker-pane .playerMarker .playerIcon,
.dynmap .leaflet-marker-pane .playerMarker .playerIconSm {
	border-radius: 4px;
	margin-left: -24px;
	margin-top: -20px;
}

.dynmap .leaflet-marker-pane .playerMarker .playerIcon {
	height: 40px;
	width: 40px;
}

.dynmap .leaflet-marker-pane .playerMarker .playerIconSm {
	height: 30px;
	width: 30px;
}

.dynmap .leaflet-marker-pane .playerMarker .playerName {
	line-height: 1em;
}

.dynmap .compass {
	align-items: center;
	background-color: transparent;
	background-image: radial-gradient(#e53935, #e53935 29px, #e0e0e0 29px, #e0e0e0 39px, #212121 40px, #212121);
	border: none;
	border-radius: 50%;
	color: #212121;
	display: flex;
	font-size: 72px;
	height: 72px;
	justify-content: center;
	line-height: 72px;
	padding: 5px;
	right: 10px;
	text-decoration: none;
	top: 10px;
	width: 72px;
}

.dynmap .compass:before {
	content: "\F018B";
	direction: ltr;
	display: inline-flex;
	font-family: "Material Design Icons", sans-serif;
	font-size: 72px;
	font-style: normal;
	font-weight: normal;
	height: 72px;
	letter-spacing: normal;
	line-height: 72px;
	text-transform: none;
	white-space: nowrap;
	width: 72px;
	word-wrap: normal;
}

.dynmap .compass_flat:before {
	transform: rotateZ(315deg);
}

.dynmap .alertbox {
	background-color: #e53935;
	border-radius: 4px;
	bottom: 52px;
	box-shadow: 0 2px 4px #2121214d;
	color: #ffffff;
	left: initial;
	margin: 0;
	right: 10px;
	top: initial;
	width: auto;
}

.dynmap .chat {
	display: none;
}

.dynmap .largeclock {
	align-items: center;
	background-color: #212121;
	border: none;
	border-radius: 10px;
	color: #e0e0e0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: auto;
	justify-content: start;
	left: initial;
	padding: 10px;
	right: 10px;
	top: 102px;
	transform: scale(68%);
	transform-origin: top right;
	width: auto;
}

.dynmap .largeclock > .timeofday[style] {
	display: none;
}

.dynmap .largeclock .timeofday.digitalclock {
	color: inherit;
	display: flex;
	font-family: Jetbrains Mono, monospace;
	font-size: 32px;
	position: static;
	width: auto;
}

.dynmap .largeclock .weather {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.dynmap .largeclock .weather:before {
	direction: ltr;
	display: inline-flex;
	font-family: "Material Design Icons", sans-serif;
	font-size: 27px;
	font-style: normal;
	font-weight: normal;
	height: 27px;
	letter-spacing: normal;
	line-height: 1em;
	text-transform: none;
	white-space: nowrap;
	width: 27px;
	word-wrap: normal;
}

.dynmap .largeclock .weather:after {
	direction: ltr;
	display: inline-flex;
	font-family: "Material Design Icons", sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: normal;
	height: 32px;
	letter-spacing: normal;
	line-height: 1em;
	margin-left: 0.4em;
	text-transform: none;
	white-space: nowrap;
	width: 32px;
	word-wrap: normal;
}

.dynmap .largeclock .weather.sunny_day:before,
.dynmap .largeclock .weather.stormy_day:before,
.dynmap .largeclock .weather.thunder_day:before {
	content: "\F00E0";
}

.dynmap .largeclock .weather.sunny_night:before,
.dynmap .largeclock .weather.stormy_night:before,
.dynmap .largeclock .weather.thunder_night:before {
	content: "\F00DD";
}

.dynmap .largeclock .weather {
	background-color: transparent;
	background-image: none;
	margin-left: 0.4em;
	position: static;
	width: auto;
}

.dynmap .largeclock .weather.sunny_day:after,
.dynmap .largeclock .weather.sunny_night:after {
	content: "\F0599";
}

.dynmap .largeclock .weather.stormy_day:after,
.dynmap .largeclock .weather.stormy_night:after {
	content: "\F0596";
}

.dynmap .largeclock .weather.thunder_day:after,
.dynmap .largeclock .weather.thunder_night:after {
	content: "\F0593";
}
